[submodule "Thirdparty/glfw"]
	path = Thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "Thirdparty/imgui"]
	path = Thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "Thirdparty/stb"]
	path = Thirdparty/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "DasherCore"]
	path = DasherCore
	url = https://github.com/VRGroupRWTH/DasherCore
[submodule "Thirdparty/nativefiledialog-extended"]
	path = Thirdparty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "Thirdparty/svg"]
	path = Thirdparty/svg
	url = https://github.com/vincentlaucsb/svg.git
